build
.svn
.sw?
.*.swp
*~
*#
*.pyc
.gradle
.idea
venv
.mypy_cache
*.egg-info
.nox
.python-version
.vscode

### VS CODE ###
.vscode/

# Environments
.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
client/.env

### temp ###
tmp/*
client/.tmp_processed/

### translation ouput ###
output/
old_output/

### translation input ###
input/kenobi

### personal config ###
config.yaml
macros.yaml

### java class ###
*.class

### customer macro ###
macros_*.yaml
