build
.svn
.sw?
.*.swp
*~
*#
*.pyc
.gradle
.idea
venv
.mypy_cache
*.egg-info
.nox
.python-version
.vscode

### VS CODE ###
.vscode/

# Environments
.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
client/.env

### temp ###
tmp/*
client/.tmp_processed/

### translation ouput ###
client/output/

### personal config ###
client/config.yaml
client/macros.yaml

### java class ###
*.class

### personal config ###
client/input/Translation_Bteq2BQ-*.zip
client/Translation_Bteq2BQ-*.csv
